<!doctype html>
<html lang="en">
<head>

  <!--  Зависимости Bootstrap-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

  <title>Index</title>
</head>
<body class="m-3">
<div th:replace="blocks/navigation.html :: navigationBlock"></div>
<div class="container-fluid px-0 py-3">
  <div class="border border-secondary border-opacity-50">
      <h5 class="text-center fw-semibold p-2">The car information</h5>
    <form th:action="@{/posts/create}" method="post" enctype="multipart/form-data">
        <div class="p-3 d-flex flex-wrap">
            <!--Car model-->
            <div class="p-2" style="width:250px">
                <label for="carModel">Car model:</label>
                <select class="form-control border border-secondary border-opacity-50" id="carModel" name="carModel.id" required>
                    <option></option>
                    <option th:each="carModel : ${carModels}" th:value="${carModel.id}"
                            th:text="${carModel.make + ' ' + carModel.model}"></option>
                </select>
            </div>
            <!--Car body-->
            <div class="p-2" style="width:150px">
                <label for="carBody">Car body:</label>
                <select class="form-control border border-secondary border-opacity-50" id="carBody" name="bodyType.id" required>
                    <option></option>
                    <option th:each="carBody : ${allBodyTypes}" th:value="${carBody.id}"
                            th:text="${carBody.name}"></option>
                </select>
            </div>
            <!--Car year-->
            <div class="p-2" style="width:150px">
                <label for="carYear">Year:</label>
                <select class="form-control border border-secondary border-opacity-50" id="carYear" name="carYear" required>
                    <option></option>
                    <option th:each="carYear : ${#numbers.sequence(#dates.year(#dates.createNow()), 1950)}"
                            th:value="${carYear}" th:text="${carYear}"></option>
                </select>
            </div>
            <!--Car transmission-->
            <div class="p-2" style="width:150px">
                <label for="transmission">Transmission:</label>
                <select class="form-control border border-secondary border-opacity-50" id="transmission" name="transmission.id" required>
                    <option></option>
                    <option th:each="transmission : ${allTransmissions}" th:value="${transmission.id}"
                            th:text="${transmission.name}"></option>
                </select>
            </div>
            <!--Car fuel type-->
            <div class="p-2" style="width:150px">
                <label for="fuelType">Fuel type:</label>
                <select class="form-control border border-secondary border-opacity-50" id="fuelType" name="fuelType.id" required>
                    <option></option>
                    <option th:each="fuelType : ${allFuelTypes}" th:value="${fuelType.id}"
                            th:text="${fuelType.name}"></option>
                </select>
            </div>
            <!--Car engine size-->
            <div class="p-2" style="width:150px">
                <label for="engineSize">Engine size:</label>
                <select class="form-control border border-secondary border-opacity-50" id="engineSize" name="engineSize.id">
                    <option></option>
                    <option th:each="engineSize : ${allEngineSizes}" th:value="${engineSize.id}"
                            th:text="${engineSize.size}"></option>
                </select>
            </div>
            <!--Car colour-->
            <div class="p-2" style="width:150px">
                <label for="carColour">Car colour:</label>
                <select class="form-control border border-secondary border-opacity-50" id="carColour" name="carColour.id" required>
                    <option></option>
                    <option th:each="carColour : ${allCarColours}" th:value="${carColour.id}"
                            th:text="${carColour.name}"></option>
                </select>
            </div>
            <!--Car mileage-->
            <div class="p-2" style="width:150px">
                <label for="mileage">Mileage (km):</label>
                <input type="text" class="form-control border border-secondary border-opacity-50"
                       id="mileage" name="mileage" required>
            </div>
        </div>
        <div class="p-3 d-flex flex-wrap">
            <!--Car number-->
            <div class="p-2" style="width:250px">
                <label for="number">Car number:</label>
                <input type="text" class="form-control border border-secondary border-opacity-50"
                       id="number" name="number">
            </div>
            <!--Car vin-->
            <div class="p-2" style="width:250px">
                <label for="vin">VIN:</label>
                <input type="text" class="form-control border border-secondary border-opacity-50"
                       id="vin" name="vin">
            </div>
        </div>
<!--Car photo-->
        <div class="px-4" style="width:400px">
            <label for="imageFile">Car photo:</label>
            <input class="form-control form-control-sm border border-secondary border-opacity-50" type="file" id="imageFile" name="imageFileDto">
        </div>
<!--Description-->
      <div class="p-4" style="max-width:900px">
          <label for="description">Advert text:</label>
          <textarea type="text" class="form-control border border-secondary border-opacity-50" rows="10"
                    id="description" name="description" required></textarea>
      </div>
<!--Car price-->
        <div class="px-4" style="width:250px">
            <label for="price">Price (EUR):</label>
            <input type="text" class="form-control border border-secondary border-opacity-50"
                   id="price" name="price">
        </div>

      <div class="d-flex p-4 justify-content-end">
        <button type="submit" class="btn btn-outline-secondary me-2">Add post</button>
        <a class="btn btn-outline-secondary" href="/posts" role="button">Back to post list</a>
      </div>
    </form>
  </div>
</div>
</body>
</html>