<!doctype html>
<html lang="en">
<head>

    <!--  Зависимости Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

    <title>Index</title>
</head>
<body class="m-3">
<div th:replace="blocks/navigation.html :: navigationBlock"></div>
<form style="max-width: 500px;" th:action="@{/users/register}" method="post" class="py-4 container">
    <div class="mb-3" th:if="${message}">
        <p class="text-danger" th:text="${message}"></p>
    </div>
    <div>
        <label for="email" class="form-label"><b>Email:</b></label>
        <input type="text" class="form-control border border-secondary border-opacity-50" id="email" name="email" placeholder="user123" required>
    </div>
    <div>
        <label for="password" class="form-label"><b>Password:</b></label>
        <input type="password" class="form-control border border-secondary border-opacity-50" id="password" name="password" placeholder="password" required>
    </div>
    <div>
        <label for="phoneNumber" class="form-label"><b>Phone number:</b></label>
        <input type="text" class="form-control border border-secondary border-opacity-50" id="phoneNumber" name="phoneNumber" placeholder="+3718888888" required>
    </div>
    <div class="d-flex justify-content-end pt-3">
        <div>
            <div class="row">
                <div><button class="btn btn-outline-secondary w-100" type="submit">Register</button>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>